<div class="container registration-form">
  <%# <h2>Edit <%= resource_name.to_s.humanize %>
  <%# </h2> %>

  <div class="profile-photo">
    <% if current_user.photo.key != nil %>
      <%= cl_image_tag current_user.photo.key, class: "profile-photo" %>
    <% else %>
      <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "profile-photo" %>
    <% end %>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :photo, as: :file, label: "Upload your profile picture" %>
      <%#= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :description,
                  required: false,
                  label: "About me",
                  input_html: { autocomplete: "about-me" } %>
      <%= f.input :name,
                  required: false,
                  label: "Name",
                  input_html: { autocomplete: "Name" } %>
      <%= f.input :age,
                  required: false,
                  label: "Age",
                  input_html: { autocomplete: "Age" } %>
      <%= f.input :gender,
                  as: :select, collection: ["Female", "Male", "Other"],
                  required: false,
                  label: "Gender",
                  input_html: { multiple: false, autocomplete: "Gender" } %>
      <%= f.input :interests,
                  as: :select, collection: ["Female", "Male", "Other", "Both"],
                  required: false,
                  label: "Interested in:",
                  input_html: { multiple: false, autocomplete: "Interests" } %>
      <%#= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%#= f.input :password_confirmation,
                  required: false,
                  hint: "leave it blank if you don't want to change it",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Save Changes", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="d-flex align-items-center">
    <div>Unhappy?</div>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-link" %>
  </div>

  <%= link_to "Back", :back %>
</div>
