<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

      <div class="col-1 d-flex justify-content-center">
        <%= link_to root_path, class: "navbar-brand" do %>
          <svg style = "margin-left: 20px;" width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 2L2 9L9 16" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        <% end %>
      </div>

      <div class="col-11 d-flex justify-content-center">
        <p style= "margin: 0; font-size: 16px; color: white; margin-left: -20px;">Register</h1>
      </div>

</div>

<div class="container registration-form">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Name" },
                  placeholder: "Name" %>
      <%= f.input :gender,
                  as: :select, collection: ["Female", "Male", "Other"],
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Select from drop down" },
                  placeholder: "Select your gender" %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  placeholder: "example@domain.com" %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions text-center mt-5">
      <%= f.button :submit, "Register", class: "white-round-filled-btn", style: "width: 120px;", id:"submit-button" %>
    </div>
  <% end %>

  <div class="d-flex justify-content-center mt-5 text-center" style="border-top: solid 1px white;">
    <p style="color: white; margin-top: 10px;">or <%= render "devise/shared/links" %></p>
  </div>

</div>
