<div class="container m-5">
 <h3>All Users</h3>
  <div class="list">
   <% @users.each do |user| %>
    <% if user.id != current_user.id %>
     <div class="conversation">
        <div class="conversation-content d-flex align-items-center justify-content-between">

          <div class="content d-flex align-items-center" style="margin-right:20px;">
            <% if user.photo.key != nil %>
              <%= cl_image_tag user.photo.key, class: "avatar-large" %>
            <% else %>
              <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-large" %>
            <% end %>

            <div class="title d-flex">
              <%= link_to profile_path(recipient_id: user.id) do %>
                <p><strong><%= user.name %></strong> (<%= user.age %>)</p>
              <% end %>
            </div>
          </div>

          <div class="actions">
            <%= link_to conversations_path(sender_id: current_user.id, recipient_id: user.id) do  %>
              <i class="fa-sharp fa-solid fa-comment-dots" ></i>
            <% end %>

            <%= link_to conversations_path(sender_id: current_user.id, recipient_id: user.id) do  %>
              <i class="fa-solid fa-beer-mug-empty" ></i>
            <% end %>

            <%= link_to conversations_path(sender_id: current_user.id, recipient_id: user.id) do  %>
              <i class="fa-sharp fa-solid fa-gamepad" ></i>
            <% end %>
          </div>

        </div>
      </div>
  <% end %>
 <% end %>
 </div>
</div>
