<%# ------------------------NAVBAR-------------------- %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="col-1 d-flex justify-content-center">
    <%= link_to bar_path(current_user.bar_code), class: "navbar-brand" do %>
      <svg style = "margin-left: 20px;" width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 2L2 9L9 16" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    <% end %>
  </div>
  <div class="col-11 d-flex justify-content-center">
    <p style= "margin: 0; font-size: 16px; color: white; margin-left: -20px;">Profile</h1>
  </div>
</div>

<%# ------------------------MAIN-------------------- %>

<div class="profile">
  <% if @user.photo.key != nil %>
    <div class="profile-photo" style="background-image: linear-gradient(0deg, #000000, #09090900, #09090900, #09090900), url(<%= cl_image_path @user.photo.key %>); background-size: cover;">
    </div>
  <% else %>
    <div class="friend-photo d-flex" style="background-image: linear-gradient(0deg, #000000, #09090900, #09090900, #09090900), url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png); background-size: cover;">
    </div>
  <% end %>

  <div class="d-flex container">
    <div class="container d-flex flex-column justify-content-start">
      <h1 style="margin-top: 10px;"><%= @user.name %>, <%= @user.age %></h1>
    </div>

    <div class="notification-actions d-flex">

      <%# ------------------------BEERS-------------------- %>
      <div class="beers d-flex" style="align-items: center;">
        <% @beerTarget = @beers.where(sender_id: current_user.id, recipient_id: @user.id).first  %>
        <% if @beerTarget.present? %>
          <div class="delete-beer-div">
            <button class="delete-beer" style="padding-right: 0; padding-bottom: 7px;" data-target-id=<%= @beerTarget.present? ? @beerTarget.id : ""%>>
              <img src="<%= image_path('chinchin') %>" data-beer-delete-target="remove" data-action="click->beer-delete#removeBeer" style="height: 31px; margin-right: 10px;">
            </button>
          </div>
          <div class="create-beer-div d-none">
            <button class="create-beer" style="padding-right: 0;" data-sender-id="<%= current_user.id %>" data-recipient-id="<%= @user.id %>">
              <svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-beer-icon-target="beer" data-action="click->beer-icon#addBeer">
                <path d="M15.0625 9.20312V20.9219C15.061 21.4394 14.8547 21.9353 14.4887 22.3012C14.1228 22.6672 13.6269 22.8735 13.1094 22.875H4.51562C3.9981 22.8735 3.50221 22.6672 3.13626 22.3012C2.77032 21.9353 2.56405 21.4394 2.5625 20.9219V10.375" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.0625 10.375H17.0156C17.7402 10.3771 18.4345 10.6658 18.9468 11.1782C19.4592 11.6905 19.7479 12.3848 19.75 13.1094V17.0156C19.7479 17.7402 19.4592 18.4345 18.9468 18.9468C18.4345 19.4592 17.7402 19.7479 17.0156 19.75H15.0625" stroke="white" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round"/>
                <path d="M8.8125 11.9375V19.75M11.9375 11.9375V19.75M5.6875 11.9375V19.75M13.5 4.90625C14.1216 4.90625 14.7177 5.15318 15.1573 5.59272C15.5968 6.03226 15.8437 6.6284 15.8438 7.25C15.8437 7.8716 15.5968 8.46774 15.1573 8.90728C14.7177 9.34682 14.1216 9.59375 13.5 9.59375C12.853 9.59375 12.0688 9.23682 11.6445 8.8125H5.6875C5.29688 9.88672 4.36914 10.375 3.34375 10.375C2.72215 10.375 2.12601 10.1281 1.68647 9.68853C1.24693 9.24899 1 8.65285 1 8.03125C1 7.40965 1.24693 6.81351 1.68647 6.37397C2.12601 5.93443 2.72215 5.6875 3.34375 5.6875C3.80079 5.70671 4.24217 5.8595 4.61328 6.12695" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2.36033 8.57009C2.16882 8.27718 2.01866 7.92623 1.91931 7.53933C1.81996 7.15244 1.77358 6.73799 1.78307 6.32207C1.79257 5.90615 1.85774 5.49777 1.97448 5.12263C2.09122 4.7475 2.25701 4.41373 2.46141 4.14235C2.66581 3.87098 2.90438 3.66786 3.16212 3.54579C3.41986 3.42372 3.69118 3.38535 3.95899 3.43308C4.22681 3.48081 4.48533 3.61362 4.71827 3.82314C4.9512 4.03266 5.15352 4.31436 5.31248 4.6505C5.31248 4.6505 5.68748 5.44723 5.68748 5.82412M4.99559 3.46558C5.84471 1.97161 7.03367 1 8.42186 1C10.9795 1 13.0117 4.22914 13.0117 8.17663C13.0119 8.62657 12.9846 9.07554 12.9302 9.51758" stroke="white" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round"/>
              </svg>
            </button>
          </div>
        <% else %>
          <div class="delete-beer-div d-none">
            <button class="delete-beer" data-target-id="" style="padding-right: 0; padding-bottom: 7px;">
              <img src="<%= image_path('chinchin') %>" data-beer-delete-target="remove" data-action="click->beer-delete#removeBeer" style="height: 31px; margin-right: 10px;">
            </button>
          </div>
          <div class="create-beer-div">
            <button class="create-beer" style="padding-right: 0;" data-sender-id="<%= current_user.id %>" data-recipient-id="<%= @user.id %>">
              <svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-beer-icon-target="beer" data-action="click->beer-icon#addBeer">
                <path d="M15.0625 9.20312V20.9219C15.061 21.4394 14.8547 21.9353 14.4887 22.3012C14.1228 22.6672 13.6269 22.8735 13.1094 22.875H4.51562C3.9981 22.8735 3.50221 22.6672 3.13626 22.3012C2.77032 21.9353 2.56405 21.4394 2.5625 20.9219V10.375" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.0625 10.375H17.0156C17.7402 10.3771 18.4345 10.6658 18.9468 11.1782C19.4592 11.6905 19.7479 12.3848 19.75 13.1094V17.0156C19.7479 17.7402 19.4592 18.4345 18.9468 18.9468C18.4345 19.4592 17.7402 19.7479 17.0156 19.75H15.0625" stroke="white" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round"/>
                <path d="M8.8125 11.9375V19.75M11.9375 11.9375V19.75M5.6875 11.9375V19.75M13.5 4.90625C14.1216 4.90625 14.7177 5.15318 15.1573 5.59272C15.5968 6.03226 15.8437 6.6284 15.8438 7.25C15.8437 7.8716 15.5968 8.46774 15.1573 8.90728C14.7177 9.34682 14.1216 9.59375 13.5 9.59375C12.853 9.59375 12.0688 9.23682 11.6445 8.8125H5.6875C5.29688 9.88672 4.36914 10.375 3.34375 10.375C2.72215 10.375 2.12601 10.1281 1.68647 9.68853C1.24693 9.24899 1 8.65285 1 8.03125C1 7.40965 1.24693 6.81351 1.68647 6.37397C2.12601 5.93443 2.72215 5.6875 3.34375 5.6875C3.80079 5.70671 4.24217 5.8595 4.61328 6.12695" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2.36033 8.57009C2.16882 8.27718 2.01866 7.92623 1.91931 7.53933C1.81996 7.15244 1.77358 6.73799 1.78307 6.32207C1.79257 5.90615 1.85774 5.49777 1.97448 5.12263C2.09122 4.7475 2.25701 4.41373 2.46141 4.14235C2.66581 3.87098 2.90438 3.66786 3.16212 3.54579C3.41986 3.42372 3.69118 3.38535 3.95899 3.43308C4.22681 3.48081 4.48533 3.61362 4.71827 3.82314C4.9512 4.03266 5.15352 4.31436 5.31248 4.6505C5.31248 4.6505 5.68748 5.44723 5.68748 5.82412M4.99559 3.46558C5.84471 1.97161 7.03367 1 8.42186 1C10.9795 1 13.0117 4.22914 13.0117 8.17663C13.0119 8.62657 12.9846 9.07554 12.9302 9.51758" stroke="white" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round"/>
              </svg>
            </button>
          </div>
        <% end %>
      </div>

      <%# ------------------------GAMES-------------------- %>
      <div class="game d-flex align-items-center">
        <% @newGame = Game.between(current_user, @user) %>
        <% if @newGame == [] || @newGame.last.winner_id != nil %>
          <%= link_to new_game_path(player1_id: current_user.id, player2_id: @user.id) do  %>
            <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.3097 16.5147V7.48321C21.3093 7.18761 21.2315 6.89726 21.0841 6.64106C20.9366 6.38485 20.7246 6.17174 20.4692 6.02292L12.43 1.3443C12.0427 1.1188 11.6025 1 11.1543 1C10.7061 1 10.2659 1.1188 9.8786 1.3443L1.84042 6.02292C1.58501 6.17174 1.37303 6.38485 1.22558 6.64106C1.07814 6.89726 1.00036 7.18761 1 7.48321V16.5147C1.00018 16.8104 1.07786 17.101 1.22532 17.3574C1.37278 17.6138 1.58485 17.8271 1.84042 17.976L9.87966 22.6546C10.2671 22.8798 10.7072 22.9984 11.1554 22.9984C11.6035 22.9984 12.0436 22.8798 12.4311 22.6546L20.4703 17.976C20.7257 17.827 20.9375 17.6136 21.0848 17.3572C21.2321 17.1008 21.3096 16.8103 21.3097 16.5147Z" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.26447 6.604L11.1548 12.4219L21.0452 6.604M11.1548 22.9998V12.4219" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M11.1548 7.3453C11.8558 7.3453 12.4241 6.96643 12.4241 6.49907C12.4241 6.0317 11.8558 5.65283 11.1548 5.65283C10.4537 5.65283 9.88544 6.0317 9.88544 6.49907C9.88544 6.96643 10.4537 7.3453 11.1548 7.3453Z" fill="white"/>
              <path d="M8.61613 15.3844C9.0835 15.3844 9.46237 14.8161 9.46237 14.1151C9.46237 13.414 9.0835 12.8457 8.61613 12.8457C8.14877 12.8457 7.7699 13.414 7.7699 14.1151C7.7699 14.8161 8.14877 15.3844 8.61613 15.3844Z" fill="white"/>
              <path d="M3.53874 17.0768C4.0061 17.0768 4.38498 16.5085 4.38498 15.8074C4.38498 15.1064 4.0061 14.5381 3.53874 14.5381C3.07138 14.5381 2.6925 15.1064 2.6925 15.8074C2.6925 16.5085 3.07138 17.0768 3.53874 17.0768Z" fill="white"/>
              <path d="M13.6935 15.3844C14.1609 15.3844 14.5398 14.8161 14.5398 14.1151C14.5398 13.414 14.1609 12.8457 13.6935 12.8457C13.2262 12.8457 12.8473 13.414 12.8473 14.1151C12.8473 14.8161 13.2262 15.3844 13.6935 15.3844Z" fill="white"/>
              <path d="M18.7709 12.4225C19.2383 12.4225 19.6172 11.8542 19.6172 11.1531C19.6172 10.4521 19.2383 9.88379 18.7709 9.88379C18.3036 9.88379 17.9247 10.4521 17.9247 11.1531C17.9247 11.8542 18.3036 12.4225 18.7709 12.4225Z" fill="white"/>
              <path d="M13.6935 20.0387C14.1609 20.0387 14.5398 19.4704 14.5398 18.7694C14.5398 18.0683 14.1609 17.5 13.6935 17.5C13.2262 17.5 12.8473 18.0683 12.8473 18.7694C12.8473 19.4704 13.2262 20.0387 13.6935 20.0387Z" fill="white"/>
              <path d="M19.0787 17.0752C19.5461 17.0752 19.925 16.5076 19.925 15.8074C19.925 15.1072 19.5461 14.5396 19.0787 14.5396C18.6114 14.5396 18.2325 15.1072 18.2325 15.8074C18.2325 16.5076 18.6114 17.0752 19.0787 17.0752Z" fill="white"/>
            </svg>
            <%# <i class="fa-sharp fa-solid fa-gamepad" ></i> %>
          <% end %>
        <% end %>

        <%# 2. El juego no tiene winner %>
        <% if @newGame.last != nil && @newGame.last.winner_id == nil %>
            <%# II. Edit %>
            <% if User.find(@newGame.last.player1_id) != current_user %>
              <%= link_to edit_game_path(@newGame.last) do  %>
                <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.3097 16.5147V7.48321C21.3093 7.18761 21.2315 6.89726 21.0841 6.64106C20.9366 6.38485 20.7246 6.17174 20.4692 6.02292L12.43 1.3443C12.0427 1.1188 11.6025 1 11.1543 1C10.7061 1 10.2659 1.1188 9.8786 1.3443L1.84042 6.02292C1.58501 6.17174 1.37303 6.38485 1.22558 6.64106C1.07814 6.89726 1.00036 7.18761 1 7.48321V16.5147C1.00018 16.8104 1.07786 17.101 1.22532 17.3574C1.37278 17.6138 1.58485 17.8271 1.84042 17.976L9.87966 22.6546C10.2671 22.8798 10.7072 22.9984 11.1554 22.9984C11.6035 22.9984 12.0436 22.8798 12.4311 22.6546L20.4703 17.976C20.7257 17.827 20.9375 17.6136 21.0848 17.3572C21.2321 17.1008 21.3096 16.8103 21.3097 16.5147Z" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M1.26447 6.604L11.1548 12.4219L21.0452 6.604M11.1548 22.9998V12.4219" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M11.1548 7.3453C11.8558 7.3453 12.4241 6.96643 12.4241 6.49907C12.4241 6.0317 11.8558 5.65283 11.1548 5.65283C10.4537 5.65283 9.88544 6.0317 9.88544 6.49907C9.88544 6.96643 10.4537 7.3453 11.1548 7.3453Z" fill="white"/>
                  <path d="M8.61613 15.3844C9.0835 15.3844 9.46237 14.8161 9.46237 14.1151C9.46237 13.414 9.0835 12.8457 8.61613 12.8457C8.14877 12.8457 7.7699 13.414 7.7699 14.1151C7.7699 14.8161 8.14877 15.3844 8.61613 15.3844Z" fill="white"/>
                  <path d="M3.53874 17.0768C4.0061 17.0768 4.38498 16.5085 4.38498 15.8074C4.38498 15.1064 4.0061 14.5381 3.53874 14.5381C3.07138 14.5381 2.6925 15.1064 2.6925 15.8074C2.6925 16.5085 3.07138 17.0768 3.53874 17.0768Z" fill="white"/>
                  <path d="M13.6935 15.3844C14.1609 15.3844 14.5398 14.8161 14.5398 14.1151C14.5398 13.414 14.1609 12.8457 13.6935 12.8457C13.2262 12.8457 12.8473 13.414 12.8473 14.1151C12.8473 14.8161 13.2262 15.3844 13.6935 15.3844Z" fill="white"/>
                  <path d="M18.7709 12.4225C19.2383 12.4225 19.6172 11.8542 19.6172 11.1531C19.6172 10.4521 19.2383 9.88379 18.7709 9.88379C18.3036 9.88379 17.9247 10.4521 17.9247 11.1531C17.9247 11.8542 18.3036 12.4225 18.7709 12.4225Z" fill="white"/>
                  <path d="M13.6935 20.0387C14.1609 20.0387 14.5398 19.4704 14.5398 18.7694C14.5398 18.0683 14.1609 17.5 13.6935 17.5C13.2262 17.5 12.8473 18.0683 12.8473 18.7694C12.8473 19.4704 13.2262 20.0387 13.6935 20.0387Z" fill="white"/>
                  <path d="M19.0787 17.0752C19.5461 17.0752 19.925 16.5076 19.925 15.8074C19.925 15.1072 19.5461 14.5396 19.0787 14.5396C18.6114 14.5396 18.2325 15.1072 18.2325 15.8074C18.2325 16.5076 18.6114 17.0752 19.0787 17.0752Z" fill="white"/>
                </svg>
              <% end %>
            <%# Show Juego: II. Si vos lo iniciaste --> te lleva al show %>
            <% else %>
              <%= link_to game_path(@newGame.last) do  %>
                <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.3097 16.5147V7.48321C21.3093 7.18761 21.2315 6.89726 21.0841 6.64106C20.9366 6.38485 20.7246 6.17174 20.4692 6.02292L12.43 1.3443C12.0427 1.1188 11.6025 1 11.1543 1C10.7061 1 10.2659 1.1188 9.8786 1.3443L1.84042 6.02292C1.58501 6.17174 1.37303 6.38485 1.22558 6.64106C1.07814 6.89726 1.00036 7.18761 1 7.48321V16.5147C1.00018 16.8104 1.07786 17.101 1.22532 17.3574C1.37278 17.6138 1.58485 17.8271 1.84042 17.976L9.87966 22.6546C10.2671 22.8798 10.7072 22.9984 11.1554 22.9984C11.6035 22.9984 12.0436 22.8798 12.4311 22.6546L20.4703 17.976C20.7257 17.827 20.9375 17.6136 21.0848 17.3572C21.2321 17.1008 21.3096 16.8103 21.3097 16.5147Z" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M1.26447 6.604L11.1548 12.4219L21.0452 6.604M11.1548 22.9998V12.4219" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M11.1548 7.3453C11.8558 7.3453 12.4241 6.96643 12.4241 6.49907C12.4241 6.0317 11.8558 5.65283 11.1548 5.65283C10.4537 5.65283 9.88544 6.0317 9.88544 6.49907C9.88544 6.96643 10.4537 7.3453 11.1548 7.3453Z" fill="white"/>
                  <path d="M8.61613 15.3844C9.0835 15.3844 9.46237 14.8161 9.46237 14.1151C9.46237 13.414 9.0835 12.8457 8.61613 12.8457C8.14877 12.8457 7.7699 13.414 7.7699 14.1151C7.7699 14.8161 8.14877 15.3844 8.61613 15.3844Z" fill="white"/>
                  <path d="M3.53874 17.0768C4.0061 17.0768 4.38498 16.5085 4.38498 15.8074C4.38498 15.1064 4.0061 14.5381 3.53874 14.5381C3.07138 14.5381 2.6925 15.1064 2.6925 15.8074C2.6925 16.5085 3.07138 17.0768 3.53874 17.0768Z" fill="white"/>
                  <path d="M13.6935 15.3844C14.1609 15.3844 14.5398 14.8161 14.5398 14.1151C14.5398 13.414 14.1609 12.8457 13.6935 12.8457C13.2262 12.8457 12.8473 13.414 12.8473 14.1151C12.8473 14.8161 13.2262 15.3844 13.6935 15.3844Z" fill="white"/>
                  <path d="M18.7709 12.4225C19.2383 12.4225 19.6172 11.8542 19.6172 11.1531C19.6172 10.4521 19.2383 9.88379 18.7709 9.88379C18.3036 9.88379 17.9247 10.4521 17.9247 11.1531C17.9247 11.8542 18.3036 12.4225 18.7709 12.4225Z" fill="white"/>
                  <path d="M13.6935 20.0387C14.1609 20.0387 14.5398 19.4704 14.5398 18.7694C14.5398 18.0683 14.1609 17.5 13.6935 17.5C13.2262 17.5 12.8473 18.0683 12.8473 18.7694C12.8473 19.4704 13.2262 20.0387 13.6935 20.0387Z" fill="white"/>
                  <path d="M19.0787 17.0752C19.5461 17.0752 19.925 16.5076 19.925 15.8074C19.925 15.1072 19.5461 14.5396 19.0787 14.5396C18.6114 14.5396 18.2325 15.1072 18.2325 15.8074C18.2325 16.5076 18.6114 17.0752 19.0787 17.0752Z" fill="white"/>
                </svg>
              <% end %>
            <% end %>
        <% end %>
      </div>

          <%# ------------------------CONVERSATION-------------------- %>
      <div class="conversations d-flex align-items-center">
        <%= simple_form_for @conversation do |f| %>
          <%= hidden_field_tag(:sender_id, current_user.id) %>
          <%= hidden_field_tag(:recipient_id, @user.id) %>
          <%= f.button :button, style: "padding:0;" do %>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.08794 18.5577C3.1514 18.3261 3.01231 18.004 2.87957 17.7718C2.83842 17.7025 2.79358 17.6354 2.74525 17.5709C1.60678 15.8443 0.999983 13.8217 1.00006 11.7536C0.981017 5.81726 5.90352 1 11.9905 1C17.2991 1 21.7308 4.6776 22.7658 9.55938C22.9211 10.2831 22.9996 11.0213 23.0001 11.7615C23.0001 17.7063 18.2674 22.5991 12.1804 22.5991C11.2121 22.5991 9.90635 22.3559 9.194 22.1565C8.48164 21.9571 7.77034 21.6927 7.58683 21.6218C7.39897 21.5497 7.19947 21.5126 6.99823 21.5124C6.77878 21.5116 6.56146 21.5553 6.35938 21.6409L2.77169 22.9355C2.69329 22.9694 2.61019 22.9911 2.52525 23C2.45806 22.9998 2.39158 22.9863 2.32965 22.9602C2.26772 22.9341 2.21157 22.8961 2.16446 22.8482C2.11734 22.8003 2.08019 22.7435 2.05516 22.6811C2.03013 22.6188 2.0177 22.5521 2.01861 22.4849C2.02302 22.426 2.03366 22.3676 2.05034 22.3109L3.08794 18.5577Z" stroke="white" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round"/>
              <path d="M6.92314 13.6922C7.85778 13.6922 8.61545 12.9346 8.61545 11.9999C8.61545 11.0653 7.85778 10.3076 6.92314 10.3076C5.98851 10.3076 5.23083 11.0653 5.23083 11.9999C5.23083 12.9346 5.98851 13.6922 6.92314 13.6922Z" fill="white"/>
              <path d="M12 13.6922C12.9347 13.6922 13.6924 12.9346 13.6924 11.9999C13.6924 11.0653 12.9347 10.3076 12 10.3076C11.0654 10.3076 10.3077 11.0653 10.3077 11.9999C10.3077 12.9346 11.0654 13.6922 12 13.6922Z" fill="white"/>
              <path d="M17.077 13.6922C18.0116 13.6922 18.7693 12.9346 18.7693 11.9999C18.7693 11.0653 18.0116 10.3076 17.077 10.3076C16.1423 10.3076 15.3846 11.0653 15.3846 11.9999C15.3846 12.9346 16.1423 13.6922 17.077 13.6922Z" fill="white"/>
            </svg>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="container">
      <p class="mb-4"><%= @user.description %></p>
      <p class="gender-btn white-outlined-btn" style="width: 72px; padding: 2px; text-align: center; font-weight: 600; font-size: 14px; border: 2px solid; margin-right: 10px;"><small><%= @user.gender %></small></p>
    </div>
  </div>

</div>

<%# ------------------------RELOAD-------------------- %>
<script>
    if( window.localStorage )
    {
      if( !localStorage.getItem('firstLoad') )
      {
        localStorage['firstLoad'] = true;
        window.location.reload();
      }
      else
        localStorage.removeItem('firstLoad');
    }
</script>
