<div class="container profile mt-4">
  <div class="profile-photo">
      <% if @user.photo.key != nil %>
        <%= cl_image_tag @user.photo.key %>
      <% else %>
        <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-xxl" %>
      <% end %>
  </div>
  <div class="container d-flex flex-column justify-content-center align-items-center mt-4">
    <h1><%= @user.name %></h1>
    <p class="mb-5"><%= @user.description %></p>
  </div>
  <div class="notification-actions d-flex justify-content-center mt-5">
      <%= simple_form_for @conversation do |f| %>
        <%= hidden_field_tag(:sender_id, current_user.id) %>
        <%= hidden_field_tag(:recipient_id, @user.id) %>
        <%= f.button :button, style: "padding:0;" do %>
          <i class="fa-sharp fa-solid fa-comment-dots" ></i>
        <% end %>
      <% end %>

      <%= link_to "#" do  %>
        <i class="fa-solid fa-beer-mug-empty" ></i>
      <% end %>

      <%= link_to "#" do  %>
        <i class="fa-sharp fa-solid fa-gamepad" ></i>
      <% end %>
    </div>
  </div>

</div>
