<div class="container mt-3">
  <h3>Conversations</h3>

  <div class="list">

    <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>

        <div class="notification">
          <%# <div class="conversation-content d-flex align-items-center justify-content-between">

            <div class="content d-flex align-items-center" style="margin-right:20px;"> %>
              <% if conversation.recipient.photo.key != nil || conversation.sender.photo.key != nil %>
                <% if conversation.recipient_id == current_user.id %>
                  <%= link_to profile_path(sender_id: conversation.sender.id) do %>
                    <%= cl_image_tag conversation.sender.photo.key, class: "avatar-large" %>
                  <% end %>
                  <div class="notification-content">
                    <strong><%= link_to "#{recipient.name} (#{conversation.recipient.age})", profile_path(sender_id: conversation.sender.id), style:"margin-right: 15px;" %></strong>
                  </div>
                <% else %>
                  <%= link_to profile_path(recipient_id: conversation.recipient.id) do %>
                    <%= cl_image_tag conversation.recipient.photo.key, class: "avatar-large" %>
                  <% end %>
                  <div class="notification-content">
                    <strong><%= link_to "#{recipient.name} (#{conversation.recipient.age})", profile_path(sender_id: conversation.recipient.id), style:"margin-right: 15px;" %></strong>
                  </div>
                <% end %>
              <% else %>
                <% if conversation.recipient_id == current_user.id %>
                  <%= link_to profile_path(sender_id: conversation.sender.id) do %>
                    <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-large" %>
                  <% end %>
                  <div class="notification-content">
                    <strong><%= link_to "#{recipient.name} (#{conversation.recipient.age})", profile_path(sender_id: conversation.sender.id), style:"margin-right: 15px;" %></strong>
                  </div>
                <% else %>
                  <%= link_to profile_path(recipient_id: conversation.recipient.id) do %>
                    <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-large" %>
                  <% end %>
                  <div class="notification-content">
                    <strong><%= link_to "#{recipient.name} (#{conversation.recipient.age})", profile_path(sender_id: conversation.recipient.id), style:"margin-right: 15px;" %></strong>
                  </div>
                <% end %>
              <% end %>

            <%# </div> %>

            <div class="notification-actions">
              <% if conversation.recipient_id == current_user.id %>
                <%= simple_form_for @conversation do |f| %>
                  <%= hidden_field_tag(:sender_id, conversation.sender.id) %>
                  <%= hidden_field_tag(:recipient_id, current_user.id) %>
                  <%= f.button :button, style: "padding:0;" do %>
                    <i class="fa-sharp fa-solid fa-comment-dots" ></i>
                  <% end %>
                <% end %>
              <% else %>
                <%= simple_form_for @conversation do |f| %>
                  <%= hidden_field_tag(:sender_id, current_user.id) %>
                  <%= hidden_field_tag(:recipient_id, conversation.recipient.id) %>
                  <%= f.button :button, style: "padding:0;" do %>
                    <i class="fa-sharp fa-solid fa-comment-dots" ></i>
                  <% end %>
                <% end %>
              <% end %>

              <%= link_to "#" do  %>
                <i class="fa-sharp fa-solid fa-gamepad" ></i>
              <% end %>
            </div>

          <%#</div> %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
