<%# ------------------------NAVBAR-------------------- %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="col-1 d-flex justify-content-center">
    <%= link_to bar_path(current_user.bar_code), class: "navbar-brand" do %>
      <svg style = "margin-left: 20px;" width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 2L2 9L9 16" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    <% end %>
  </div>
  <div class="col-11 d-flex justify-content-center">
    <p style= "margin: 0; font-size: 16px; color: white; margin-left: -20px;">Chats</h1>
  </div>
</div>

<%# ------------------------MAIN-------------------- %>
<div class="container mt-3">
  <div class="list">
    <% @conversations.each do |conversation| %>
      <% if conversation.messages.last != nil %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>

            <div class="conversation-actions">
              <% if conversation.recipient_id == current_user.id %>
                <%= simple_form_for @conversation do |f| %>
                  <%= hidden_field_tag(:sender_id, conversation.sender.id) %>
                  <%= hidden_field_tag(:recipient_id, current_user.id) %>
                  <%= f.button :button, style: "padding:0;" do %>
                    <div class="conversation-card">
                      <% if conversation.recipient.photo.key == nil || conversation.sender.photo.key == nil %>
                        <% if conversation.recipient_id == current_user.id %>
                          <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-large" %>
                          <div class="conversation-content">
                            <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                            <% if conversation.messages.last != nil %>
                              <% @messages = conversation.messages.where.not(user_id: current_user) %>
                              <%= Message.find(conversation.messages.last.id).body %>
                            <% end %>
                          </div>
                        <% else %>
                          <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-large" %>
                          <div class="conversation-content">
                            <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                            <% if conversation.messages.last != nil %>
                              <% @messages = conversation.messages.where.not(user_id: current_user) %>
                              <%= Message.find(conversation.messages.last.id).body %>
                            <% end %>
                          </div>
                        <% end %>

                      <% else %>

                        <% if conversation.recipient_id == current_user.id %>
                          <%= cl_image_tag conversation.sender.photo.key, class: "avatar-large" %>
                          <div class="conversation-content">
                            <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                            <% if conversation.messages.last != nil %>
                              <% @messages = conversation.messages.where.not(user_id: current_user) %>
                              <%= Message.find(conversation.messages.last.id).body %>
                            <% end %>
                          </div>
                        <% else conversation.sender_id == current_user.id %>
                          <%= cl_image_tag conversation.recipient.photo.key, class: "avatar-large" %>
                          <div class="conversation-content">
                            <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                            <% if conversation.messages.last != nil %>
                              <% @messages = conversation.messages.where.not(user_id: current_user) %>
                              <%= Message.find(conversation.messages.last.id).body %>
                            <% end %>
                          </div>
                        <% end %>

                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              <% else %>
                <%= simple_form_for @conversation do |f| %>
                  <%= hidden_field_tag(:sender_id, current_user.id) %>
                  <%= hidden_field_tag(:recipient_id, conversation.recipient.id) %>
                  <%= f.button :button, style: "padding:0;" do %>
                    <div class="conversation-card">
                      <% if conversation.recipient.photo.key == nil || conversation.sender.photo.key == nil %>
                        <% if conversation.recipient_id == current_user.id %>
                          <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-large" %>
                          <div class="conversation-content">
                            <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                            <% if conversation.messages.last != nil %>
                              <% @messages = conversation.messages.where.not(user_id: current_user) %>
                              <%= Message.find(conversation.messages.last.id).body %>
                            <% end %>
                          </div>
                        <% else %>
                          <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-large" %>
                          <div class="conversation-content">
                            <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                            <% if conversation.messages.last != nil %>
                              <% @messages = conversation.messages.where.not(user_id: current_user) %>
                              <%= Message.find(conversation.messages.last.id).body %>
                            <% end %>
                          </div>
                        <% end %>

                      <% else %>

                        <% if conversation.recipient_id == current_user.id %>
                          <%= cl_image_tag conversation.sender.photo.key, class: "avatar-large" %>
                          <div class="conversation-content">
                            <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                            <% if conversation.messages.last != nil %>
                              <% @messages = conversation.messages.where.not(user_id: current_user) %>
                              <%= Message.find(conversation.messages.last.id).body %>
                            <% end %>
                          </div>
                        <% else conversation.sender_id == current_user.id %>
                          <%= cl_image_tag conversation.recipient.photo.key, class: "avatar-large" %>
                          <div class="conversation-content">
                            <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                            <% if conversation.messages.last != nil %>
                              <% @messages = conversation.messages.where.not(user_id: current_user) %>
                              <%= Message.find(conversation.messages.last.id).body %>
                            <% end %>
                          </div>
                        <% end %>

                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
