<%#= render "shared/nabvar-empty" %>
<%# ------------------------NAVBAR-------------------- %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="col-1 d-flex justify-content-center">
    <button onclick="history.back()" style="background:none; border:none">
      <svg style = "margin-left: 20px;" width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 2L2 9L9 16" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>
  <div class="col-11 d-flex justify-content-center">
    <p style= "margin: 0; font-size: 16px; color: white; margin-left: -20px;">Chats</h1>
  </div>
</div>

<%# ------------------------MAIN-------------------- %>
<% @conv = @conversations.where(sender_id: current_user.id).first || @conversations.where(recipient_id: current_user.id).first %>
<% if @conv != nil %>
  <div class="container">
    <div class="list" id="conv-notification" style="overflow: scroll; height: 90vh;">
      <% @conv_ordered.each do |conversation| %>
        <% if conversation.messages.last != nil %>
          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
              <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
              <% recipient = User.find(conversation.sender_id) %>
            <% end %>

              <div class="conversation-actions">
                <% if conversation.recipient_id == current_user.id %>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="link col-11">
                      <%= link_to conversation_path(conversation), style: "text-decoration: none;" do %>
                        <div class="conversation-card">
                          <% if conversation.recipient.photo.key == nil || conversation.sender.photo.key == nil %>
                            <% if conversation.recipient_id == current_user.id %>
                              <div class="">
                                <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-large" %>
                              </div>
                              <div class="conversation-content">
                                <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                                <% if conversation.messages.last != nil %>
                                  <% @messages = conversation.messages.where.not(user_id: current_user) %>
                                  <%= Message.find(conversation.messages.last.id).body %>
                                <% end %>
                              </div>
                            <% else %>
                              <div class="">
                                <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-large" %>
                              </div>
                              <div class="conversation-content">
                                <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                                <% if conversation.messages.last != nil %>
                                  <% @messages = conversation.messages.where.not(user_id: current_user) %>
                                  <%= Message.find(conversation.messages.last.id).body %>
                                <% end %>
                              </div>
                            <% end %>

                          <% else %>

                            <% if conversation.recipient_id == current_user.id %>
                              <div class="">
                                <%= cl_image_tag conversation.sender.photo.key, class: "avatar-large" %>
                              </div>
                              <div class="conversation-content">
                                <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                                <% if conversation.messages.last != nil %>
                                  <% @messages = conversation.messages.where.not(user_id: current_user) %>
                                  <%= Message.find(conversation.messages.last.id).body %>
                                <% end %>
                              </div>
                            <% else conversation.sender_id == current_user.id %>
                              <div class="">
                                <%= cl_image_tag conversation.recipient.photo.key, class: "avatar-large" %>
                              </div>
                              <div class="conversation-content">
                                <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                                <% if conversation.messages.last != nil %>
                                  <% @messages = conversation.messages.where.not(user_id: current_user) %>
                                  <%= Message.find(conversation.messages.last.id).body %>
                                <% end %>
                              </div>
                            <% end %>

                          <% end %>
                        </div>
                      <% end %>
                    </div>
                    <div class="notification-image col-1">
                      <%# -------- NOTIFICATION ------------- %>
                      <% @conv = conversation.messages %>
                      <% @conv_read = [] %>
                      <% @conv.each do |message| %>
                        <% if message.read == false && message.user_id != current_user.id %>
                          <% @conv_read << message %>
                        <% end %>
                      <% end %>
                      <% if @conv_read != [] %>
                        <%= image_tag('notification', style: "height: 15px; margin: 10px;") %>
                      <% end %>
                    </div>
                  </div>
                <% else %>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="link col-11">
                      <%= link_to conversation_path(conversation), style: "text-decoration: none;" do %>
                          <div class="conversation-card">
                            <% if conversation.recipient.photo.key == nil || conversation.sender.photo.key == nil %>
                              <% if conversation.recipient_id == current_user.id %>
                                <div class="">
                                  <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-large" %>
                                </div>
                                <div class="conversation-content">
                                  <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                                  <% if conversation.messages.last != nil %>
                                    <% @messages = conversation.messages.where.not(user_id: current_user) %>
                                    <%= Message.find(conversation.messages.last.id).body %>
                                  <% end %>
                                </div>
                              <% else %>
                                <div class="">
                                  <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-large" %>
                                </div>
                                <div class="conversation-content">
                                  <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                                  <% if conversation.messages.last != nil %>
                                    <% @messages = conversation.messages.where.not(user_id: current_user) %>
                                    <%= Message.find(conversation.messages.last.id).body %>
                                  <% end %>
                                </div>
                              <% end %>

                            <% else %>

                              <% if conversation.recipient_id == current_user.id %>
                                <div class="">
                                  <%= cl_image_tag conversation.sender.photo.key, class: "avatar-large" %>
                                </div>
                                <div class="conversation-content">
                                  <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                                  <% if conversation.messages.last != nil %>
                                    <% @messages = conversation.messages.where.not(user_id: current_user) %>
                                    <%= Message.find(conversation.messages.last.id).body %>
                                  <% end %>
                                </div>
                              <% else conversation.sender_id == current_user.id %>
                                <div class="">
                                  <%= cl_image_tag conversation.recipient.photo.key, class: "avatar-large" %>
                                </div>
                                <div class="conversation-content">
                                  <strong style="margin-right: 15px;"><%= recipient.name %></strong>
                                  <% if conversation.messages.last != nil %>
                                    <% @messages = conversation.messages.where.not(user_id: current_user) %>
                                    <%= Message.find(conversation.messages.last.id).body %>
                                  <% end %>
                                </div>
                              <% end %>

                            <% end %>
                          </div>
                      <% end %>
                    </div>
                    <div class="notification-image col-1">
                      <%# -------- NOTIFICATION ------------- %>
                      <% @conv = conversation.messages %>
                      <% @conv_read = [] %>
                      <% @conv.each do |message| %>
                        <% if message.read == false && message.user_id != current_user.id %>
                          <% @conv_read << message %>
                        <% end %>
                      <% end %>
                      <% if @conv_read != [] %>
                        <%= image_tag('notification', style: "height: 15px; margin: 10px;") %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="container" style="padding-top: 70px;">
    <p style="color: white; text-align:center; margin-bottom: 0;">No conversations yet</p>
    <p style="color: white; text-align:center;">Interact with people around you</p>
  </div>
<% end %>

<script>
  // ------------- RELOAD WHEN COMING BACK---------------- //

    if( window.localStorage )
    {
      if( !localStorage.getItem('firstLoad') )
      {
        localStorage['firstLoad'] = true;
        window.location.reload();
      }
      else
        localStorage.removeItem('firstLoad');
    }

    // ------------- RELOAD AFTER 1 SECONDS---------------- //

  function refresh_Div() {
    $( "#conv-notification" ).load(window.location.href + "#conv-notification" );
  }

  const refreshNotification = () => {
    setTimeout(function() {
    refresh_Div();
    console.log("estoy volviendo")
    }, 1000);
  }

  refreshNotification();

  // ------------- SET TIME OUT---------------- //
  setTimeout(function() {
    location.reload();
    }, 5000);

</script>
