<div class="container m-5">
  <h3>Conversations</h3>
  <div class="list">
    <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>

        <div class="conversation">
          <div class="conversation-content d-flex align-items-center justify-content-between">

            <div class="content d-flex align-items-center" style="margin-right:20px;">
              <% if conversation.recipient.photo.key != nil || conversation.sender.photo.key != nil %>
                <% if conversation.recipient_id == current_user.id %>
                  <%= cl_image_tag conversation.sender.photo.key, class: "avatar-large" %>
                <% else %>
                  <%= cl_image_tag conversation.recipient.photo.key, class: "avatar-large" %>
                <% end %>
              <% else %>
                <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-large" %>
              <% end %>

              <div class="title d-flex">
                <strong><%= link_to "#{recipient.name} (#{conversation.recipient.age})", conversation_path(conversation), style:"margin-right: 15px;" %></strong>
              </div>
            </div>

            <div class="actions d-flex">
              <%= link_to conversations_path(sender_id: current_user.id, recipient_id: conversation.id) do  %>
                <i class="fa-solid fa-beer-mug-empty" ></i>
              <% end %>

              <%= link_to conversations_path(sender_id: current_user.id, recipient_id: conversation.id) do  %>
                <i class="fa-sharp fa-solid fa-gamepad" ></i>
              <% end %>
            </div>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
