<div class="container mt-4">
  <h1><%= @bar.name %></h1>

  <div class="notification user-card">
    <%= link_to edit_user_registration_path do %>
      <% if current_user.photo.key != nil %>
        <%= cl_image_tag current_user.photo.key, class: "avatar-xxl" %>
      <% else %>
        <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-xxl" %>
      <% end %>
    <% end %>
    <div class="notification-content">
      <%= link_to edit_user_registration_path do %>
        <p><strong><%= current_user.name %></strong></p>
      <% end %>
    </div>

    <div class="notification-actions d-flex flex-column align-items-center justify-items-center">
      <div class="mb-2 mt-2">
        <%= link_to conversations_path do  %>
          <i class="fa-sharp fa-solid fa-comment-dots" style="margin-left: 0;"></i>
        <% end %>

        <%= link_to beers_path do  %>
          <i class="fa-solid fa-beer-mug-empty"></i>
        <% end %>
      </div>

      <%= link_to games_path do  %>
        <i class="fa-sharp fa-solid fa-gamepad" style="margin-left: 0;"></i>
      <% end %>

    </div>
  </div>

  <% if current_user.bar_code != 1 %>
    <div class="list">
      <% @users.each do |user| %>
        <% if user.id != current_user.id %>

            <div class="notification">
              <%= link_to profile_path(recipient_id: user.id) do %>
                <% if user.photo.key != nil %>
                  <%= cl_image_tag user.photo.key, class: "avatar-xl" %>
                <% else %>
                  <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-xl" %>
                <% end %>
              <% end %>

              <div class="notification-content">
                <%= link_to profile_path(recipient_id: user.id) do %>
                  <p><strong><%= user.name %></strong> (<%= user.age %>)</p>
                <% end %>
              </div>

              <div class="notification-actions">
                <%= simple_form_for @conversation do |f| %>
                  <%= hidden_field_tag(:sender_id, current_user.id) %>
                  <%= hidden_field_tag(:recipient_id, user.id) %>
                  <%= f.button :button, style: "padding:0;" do %>
                    <i class="fa-sharp fa-solid fa-comment-dots" ></i>
                  <% end %>
                <% end %>

                <% @beerTarget = @beers.where(sender_id: current_user.id, recipient_id: user.id).first  %>

                <% if @beerTarget.present? %>
                  <div data-controller="beer-delete">
                    <%= simple_form_for @beerTarget, url: beer_path(@beerTarget), method: :delete do |f| %>
                      <%= hidden_field_tag(:sender_id, current_user.id) %>
                      <%= hidden_field_tag(:recipient_id, user.id) %>
                      <%= f.button :button, style: "padding:0;" do %>
                        <i class="fa-solid fa-champagne-glasses" data-beer-delete-target="remove" data-action="click->beer-delete#removeBeer"></i>
                      <% end %>
                    <% end %>
                  </div>

                  <%# <div data-controller="beer-delete"> %>
                    <%#= link_to beer_path(@beerTarget), data: {turbo_method: :delete} do %>
                      <%# <i class="fa-solid fa-champagne-glasses" style="padding:0;" data-beer-delete-target="remove" data-action="click->beer-delete#removeBeer"></i> %>
                    <%#end %>
                  <%# </div> %>

                <% else %>
                  <div data-controller="beer-icon">
                    <%= simple_form_for @beer do |f| %>
                      <%= hidden_field_tag(:sender_id, current_user.id) %>
                      <%= hidden_field_tag(:recipient_id, user.id) %>
                      <%= f.button :button, style: "padding:0;" do %>
                        <i class="fa-solid fa-beer-mug-empty" data-beer-icon-target="beer" data-action="click->beer-icon#addBeer"></i>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>

                <div>
                  <%= simple_form_for @game do |f| %>
                    <%= hidden_field_tag(:player1_id, current_user.id) %>
                    <%= hidden_field_tag(:player2_id, user.id) %>
                    <%= hidden_field_tag(:winner_id, nil) %>
                    <%= f.button :button, style: "padding:0;" do %>
                      <i class="fa-sharp fa-solid fa-gamepad"></i>
                    <% end %>
                  <% end %>
                </div>

                <%= link_to new_game_path(player1_id: current_user.id, player2_id: user.id) do  %>
                  <i class="fa-sharp fa-solid fa-gamepad" ></i>
                <% end %>
              </div>
            </div>

        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="list">
      <div class="notification d-flex justify-content-center align-items-center text-center", style= "height: 20vh;">
        <strong><p>Please scan a QR code in your bar to conect with other people</p></strong>
      </div>
    </div>
  <% end %>
</div>

<% console %>
