<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class= "d-flex align-items-center">

        <%# <%= link_to edit_user_registration_path, class: "navbar-photo" do %>
          <%# <% if current_user.photo.key != nil %>
            <%# <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle" %>
          <%# <% else %>
            <%# <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar dropdown-toggle" %>
          <%# <% end %>
        <%# <% end %>

        <div class="nav-item dropdown">
              <% if current_user.photo.key != nil %>
                <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>

              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Edit User", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
              </div>
        </div>

      <h1>BREAKIT</h1>
    </div>

    <div class="d-flex align-items-center navbar-icons" style="padding-bottom: 10px;">
      <%# BEER NOTIFICATION %>
      <div id="beer-notice">
        <% if @beer_read == [] %>
          <%= link_to beers_path do %>
            <%= image_tag('beer', style: "margin-top: 10px;") %>
          <% end %>
        <% else %>
          <%= link_to beers_path do %>
            <%= image_tag('beer-notification', style:"margin-top: 3px;") %>
          <% end %>
        <% end %>
      </div>

      <%# GAMES NOTIFICATION %>
      <div id="game-notice">
        <% if @games_read == [] %>
          <%= link_to games_path do %>
            <%= image_tag('dice', style: "margin-top: 10px;") %>
          <% end %>
        <% else %>
          <%= link_to games_path do %>
            <%= image_tag('dice-notification', style:"margin-top: 3px;") %>
          <% end %>
        <% end %>
      </div>

      <%# CONVERSATION NOTIFICATION %>
      <div id="conversation-notice">
        <% if @conv_read == [] %>
          <%= link_to conversations_path do %>
            <%= image_tag('chat', style: "margin-top: 10px;") %>
          <% end %>
        <% else %>
          <%= link_to conversations_path do %>
            <%= image_tag('chat-notification', style:"margin-top: 3px;") %>
          <% end %>
        <% end %>

      </div>
    </div>

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script>
