<div class="home text-center d-flex" style="background-color: black; height: 100vh;margin: 0; padding: 0; ">
  <div class="mt-5 container d-flex flex-column p-4">
    <%= image_tag("breakit-crop") %>
    <h1 class="mb-3">The ultimate ice breaker</h1>
    <p class="mb-5">Mix the courage of the virtuality with the spontaneity of the reality</p>
    <div class="container d-flex pl-5 pr-5 mb-5 flex-column" style="align-items: center; justify-content: space-around;">
      <%= link_to 'Login', new_user_session_path, class: "white-round-filled-btn mb-3 w-50" %>
      <%= link_to 'Sing Up', new_user_registration_path, class: "white-outlined-btn w-50" %>
    <div class="header-home d-flex">
      <h1>BREAKIT</h1>
      <%= image_tag("breakit-small")%>
    </div>
    <h2 class="mb-3 subtitle-home">Conect with the people aroud you</h2>
    <div class="container d-flex flex-column pl-5 pr-5 mb-5" style="align-items: center; justify-content: space-around;">
      <%= link_to 'Register', new_user_registration_path, class: "white-round-filled-big-btn mb-3" %>
      <%= link_to 'Login', new_user_session_path, class: "white-outlined-big-btn" %>
    </div>

  </div>
</div>
