<div class="container mt-3">
    <% if @game.winner_id == nil %>

      <% if User.find(@game.player1_id) == current_user %>
        <% opponent = User.find(@game.player2_id) %>
      <% else %>
        <% opponent = User.find(@game.player1_id) %>
      <% end %>

      <div class="container d-flex align-items-center" style="margin-bottom: 30px; margin-top: 30px;">

        <% if opponent.photo.key != nil %>
          <%= cl_image_tag opponent.photo.key, class:"avatar-large", style:"margin-right:15px;" %>
        <% else %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class:"avatar-large" %>
        <% end %>

        <h1 style="margin-top:20px;"><%= opponent.name %> <small><small><em>already played, now it's your turn</em></small></small></h1>

      </div>
      <div class="container mt-3">
        <div class="messages text-center">
          <p style="margin-bottom: 2rem;">Choose your hand</p>
            <%= simple_form_for @game do |f| %>
              <div class="field">
                <%= f.collection_radio_buttons(:hand2, [['Rock', 'rock'], ['Paper', 'paper'], ['Scissors', 'scissors']], :first, :last, :item_wrapper_class => 'horizontal') do |hand2| %>
                  <%= hand2.label { image_tag("#{hand2.text}.png") + hand2.radio_button  } %>
                <% end %>
              </div>
              <div class="field">
                <%= f.collection_radio_buttons(:hand4, [['Rock', 'rock'], ['Paper', 'paper'], ['Scissors', 'scissors']], :first, :last, :item_wrapper_class => 'horizontal') do |hand4| %>
                  <%= hand4.label { image_tag("#{hand4.text}.png") + hand4.radio_button  } %>
                <% end %>
              </div>
              <div class="field">
                <%= f.collection_radio_buttons(:hand6, [['Rock', 'rock'], ['Paper', 'paper'], ['Scissors', 'scissors']], :first, :last, :item_wrapper_class => 'horizontal') do |hand6| %>
                  <%= hand6.label { image_tag("#{hand6.text}.png") + hand6.radio_button  } %>
                <% end %>
              </div>

              <div>
                <%= f.button :submit, class: "btn btn-primary" %>
              </div>
            <% end %>
        </div>
      </div>

    <% else %>
      <div class="container d-flex align-items-center">
        <p style="color:white;">Play has ended, please start a new game</p>
      </div>

    <% end %>
</div>
