<%# ------------------------NAVBAR-------------------- %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="col-1 d-flex justify-content-center">
    <%= link_to bar_path(current_user.bar_code), class: "navbar-brand" do %>
      <svg style = "margin-left: 20px;" width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 2L2 9L9 16" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    <% end %>
  </div>
  <div class="col-11 d-flex justify-content-center">
    <p style= "margin: 0; font-size: 16px; color: white; margin-left: -20px;">Game</h1>
  </div>
</div>

<%# ------------------------MAIN-------------------- %>

<div class="container mt-3">
    <% if @game.winner_id == nil %>

      <% if User.find(@game.player1_id) == current_user %>
        <% opponent = User.find(@game.player2_id) %>
      <% else %>
        <% opponent = User.find(@game.player1_id) %>
      <% end %>

      <%# <div class="container d-flex align-items-center" style="margin-bottom: 30px; margin-top: 30px;"> %>
        <%# if opponent.photo.key != nil %>
          <%#= cl_image_tag opponent.photo.key, class:"avatar-large", style:"margin-right:15px;" %>
        <%# else %>
          <%#= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class:"avatar-large" %>
        <%# end %>
      <%# </div> %>

      <div class="container mt-3">
        <div class="messages text-center bg-black">
          <p style="margin-bottom: 2rem; color: white; font-weight: 700; font-size: 16px;">Make 3 moves</p>
            <%= simple_form_for @game do |f| %>

              <div class="field">
                <p style="color: white" class="m-0 p-0 align-self-center ">1ยบ</p>
                <%= f.collection_radio_buttons(:hand2, [['Rock', 'rock'], ['Paper', 'paper'], ['Scissors', 'scissors']], :first, :last, :item_wrapper_class => 'horizontal') do |hand2| %>
                  <div class="rounded-circle p-1 hand2">
                  <%= hand2.label {image_tag("#{hand2.text}.png")}  %>
                  </div>
                  <%= hand2.radio_button class:"d-none"%>
                <% end %>
              </div>

              <div class="field">
                <p style="color: white" class="m-0 p-0 align-self-center ">2ยบ</p>
                <%= f.collection_radio_buttons(:hand4, [['Rock', 'rock'], ['Paper', 'paper'], ['Scissors', 'scissors']], :first, :last, :item_wrapper_class => 'horizontal') do |hand4| %>
                  <div class="rounded-circle p-1 hand4">
                  <%= hand4.label {image_tag("#{hand4.text}.png")}  %>
                  </div>
                  <%= hand4.radio_button class:"d-none"%>
                <% end %>
              </div>

              <div class="field">
                <p style="color: white" class="m-0 p-0 align-self-center ">3ยบ</p>
                <%= f.collection_radio_buttons(:hand6, [['Rock', 'rock'], ['Paper', 'paper'], ['Scissors', 'scissors']], :first, :last, :item_wrapper_class => 'horizontal') do |hand6| %>
                  <div class="rounded-circle p-1 hand6">
                  <%= hand6.label {image_tag("#{hand6.text}.png")}  %>
                  </div>
                  <%= hand6.radio_button class:"d-none"%>
                <% end %>
              </div>

              <div>
                <%= f.button :submit, "Let's play", class: "white-round-filled-btn", style: "padding-right: 10px; padding-left: 10px; width: 103px; height: 41px; margin-top: 20px; background-color: #5A81E3; border: none; color: white; font-weight: 600;"%>
              </div>
            <% end %>
        </div>
      </div>

    <% else %>
      <div class="container d-flex align-items-center">
        <p style="color:white;">Play has ended, please start a new game</p>
      </div>

    <% end %>
</div>
