<div class="container mt-3">
    <% if @game.winner_id == nil %>

      <% if User.find(@game.player1_id) == current_user %>
        <% opponent = User.find(@game.player2_id) %>
      <% else %>
        <% opponent = User.find(@game.player1_id) %>
      <% end %>

      <div class="container d-flex align-items-center" style="margin-bottom: 30px; margin-top: 30px;">

        <% if opponent.photo.key != nil %>
          <%= cl_image_tag opponent.photo.key, class:"avatar-large", style:"margin-right:15px;" %>
        <% else %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class:"avatar-large" %>
        <% end %>

        <h1 style="margin-top:20px;"><%= opponent.name %> <small><small><em>already played, now it's your turn</em></small></small></h1>

      </div>
      <div class="container mt-3">
        <div class="messages text-center bg-black">
          <p style="margin-bottom: 2rem; color: white">Choose your hand</p>
            <%= simple_form_for @game do |f| %>

              <div class="field">
                <p style="color: white" class="m-0 p-0 align-self-center ">1ยบ</p>
                <%= f.collection_radio_buttons(:hand2, [['Rock', 'rock'], ['Paper', 'paper'], ['Scissors', 'scissors']], :first, :last, :item_wrapper_class => 'horizontal') do |hand2| %>
                  <div class="rounded-circle p-1 hand2">
                  <%= hand2.label {image_tag("#{hand2.text}.png")}  %>
                  </div>
                  <%= hand2.radio_button class:"d-none"%>
                <% end %>
              </div>

              <div class="field">
                <p style="color: white" class="m-0 p-0 align-self-center ">2ยบ</p>
                <%= f.collection_radio_buttons(:hand4, [['Rock', 'rock'], ['Paper', 'paper'], ['Scissors', 'scissors']], :first, :last, :item_wrapper_class => 'horizontal') do |hand4| %>
                  <div class="rounded-circle p-1 hand4">
                  <%= hand4.label {image_tag("#{hand4.text}.png")}  %>
                  </div>
                  <%= hand4.radio_button class:"d-none"%>
                <% end %>
              </div>

              <div class="field">
                <p style="color: white" class="m-0 p-0 align-self-center ">3ยบ</p>
                <%= f.collection_radio_buttons(:hand6, [['Rock', 'rock'], ['Paper', 'paper'], ['Scissors', 'scissors']], :first, :last, :item_wrapper_class => 'horizontal') do |hand6| %>
                  <div class="rounded-circle p-1 hand6">
                  <%= hand6.label {image_tag("#{hand6.text}.png")}  %>
                  </div>
                  <%= hand6.radio_button class:"d-none"%>
                <% end %>
              </div>

              <div>
                <%= f.button :submit, "Let's play", class: "btn btn-lg btn-primary rounded-pill", style:"background-color: #5A81E3; border: none" %>
              </div>
            <% end %>
        </div>
      </div>

    <% else %>
      <div class="container d-flex align-items-center">
        <p style="color:white;">Play has ended, please start a new game</p>
      </div>

    <% end %>
</div>
