<div class="container mt-3">
  <h3>Games Played</h3>

  <div class="list">

    <% @games.each do |game| %>
      <%# if game.player1_id == current_user.id || game.player2_id == current_user.id %>
        <% if game.player1_id == current_user.id %>
          <% opponent = User.find(game.player2_id) %>
        <% else %>
          <% opponent = User.find(game.player1_id) %>
        <% end %>

        <div class="notification">
          <% if opponent.photo.key != nil %>

            <% if game.player1_id == current_user.id %>
              <%= link_to profile_path(player2_id: opponent.id) do %>
                <%= cl_image_tag opponent.photo.key, class: "avatar-large" %>
              <% end %>
            <% else %>
              <%= link_to profile_path(player1_id: opponent.id) do %>
                <%= cl_image_tag opponent.photo.key, class: "avatar-large" %>
              <% end %>
            <% end %>

            <div class="notification-content">
              <strong><%= link_to "#{opponent.name} (#{opponent.age})", profile_path(sender_id: opponent.id), style:"margin-right: 15px;" %></strong>
            </div>

          <% else %>

            <% if game.player1_id == current_user.id %>
              <%= link_to profile_path(player2_id: opponent.id) do %>
                <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-large" %>
              <% end %>
            <% else %>
              <%= link_to profile_path(player1_id: opponent.id) do %>
                <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-large" %>
              <% end %>
            <% end %>
            <div class="notification-content">
              <strong><%= link_to "#{opponent.name} (#{opponent.age})", profile_path(sender_id: opponent.id), style:"margin-right: 15px;" %></strong>
            </div>

          <% end %>

          <div class="notification-actions">

            <%# IF THE GAME IS FINISHED %>
            <% if game.winner_id != nil %>
              <% if game.draw == nil %>
                <p><%= User.find(game.winner_id).name %> won</p>
              <% else %>
                <p>It is a draw</p>
              <% end %>

              <%= link_to game_path(game) do  %>
                  <i class="fa-solid fa-dice"></i>
              <% end %>

            <%# IF THE GAME IS NOT FINISHED %>
            <% else %>
              <%# if game.hand2 == nil %>
                <% if game.player2_id == current_user.id %>
                  <p>It is your turn</p>
                  <%# II. Si vos no lo iniciaste --> te lleva al edit %>
                  <%= link_to edit_game_path(game) do  %>
                    <i class="fa-solid fa-table-tennis-paddle-ball"></i>
                  <% end %>
                <% else %>
                  <p>It is <%= User.find(game.player2_id).name %>'s turn</p>
                  <%# Show Juego %>
                  <%# II. Si vos lo iniciaste --> te lleva al show %>
                  <%= link_to game_path(game) do  %>
                    <i class="fa-solid fa-dice"></i>
                  <% end %>
                <% end %>
              <%# end %>
            <% end %>
          </div>

        </div>
      <%# end %>
    <% end %>
  </div>
</div>
