<div class="container mt-3">

  <% if @game.player1_id == current_user.id %>
    <% opponent = User.find(@game.player2_id) %>
  <% else %>
    <% opponent = User.find(@game.player1_id) %>
  <% end %>

  <div class="container d-flex align-items-center">

    <% if @game.opponent.photo.key != nil %>
      <%= cl_image_tag opponent.photo.key, class:"avatar-large", style:"margin-right:15px;" %>
    <% else %>
      <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class:"avatar-large" %>
    <% end %>

    <h1 style="margin:0"><%= opponent.name %></h1>

  </div>

  <div class="container mt-3">
    <div class="messages">
      <p>Choose your hand</p>

      <% if @game.player1_id == current_user.id %>
        <%= simple_form_for @game do |f| %>
          <%= hidden_field_tag(:player1_id, current_user.id) %>
          <%= hidden_field_tag(:player2_id, opponent.id) %>
          <div class="field">
          <%= f.collection_select("Female", "Male", "Other") %>
            <%= f.text_area :body, class: "form-control", style: "background: white; margin-bottom: 15px;" %>
          </div>
          <div>
            <%= f.submit "Send", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% else %>
        <%= simple_form_for @game do |f| %>
          <%= hidden_field_tag(:player1_id, opponent.id) %>
          <%= hidden_field_tag(:player2_id, current_user.id) %>
          <div class="field">
            <%= f.collection_select("Female", "Male", "Other") %>
          </div>
          <div>
            <%= f.submit "Send", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
