<%# ------------------------NAVBAR-------------------- %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="col-1 d-flex justify-content-center">
    <%= link_to bar_path(current_user.bar_code), class: "navbar-brand" do %>
      <svg style = "margin-left: 20px;" width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 2L2 9L9 16" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    <% end %>
  </div>
  <div class="col-11 d-flex justify-content-center">
    <p style= "margin: 0; font-size: 16px; color: white; margin-left: -20px;">Game</h1>
  </div>
</div>

<%# ------------------------MAIN-------------------- %>
<div class="container bg-black mt-3">
  <% opponent = User.find(params[:player2_id]) %>

  <%# <div class="container d-flex align-items-center"> %>
    <%# if opponent.photo.key != nil %>
      <%#= cl_image_tag opponent.photo.key, class:"avatar-large", style:"margin-right:15px;" %>
    <%# else %>
      <%#= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class:"avatar-large" %>
    <%# end %>
  <%# </div> %>

  <div class="container mt-3">
    <div class="messages text-center bg-black">
      <p style="margin-bottom: 2rem; color: white; font-weight: 700; font-size: 16px;">Make 3 moves</p>
        <%= simple_form_for @game do |f| %>
          <%= hidden_field_tag(:player1_id, current_user.id) %>
          <%= hidden_field_tag(:player2_id, opponent.id) %>
          <div class="field">
            <p style="color: white" class="m-0 p-0 align-self-center ">1ยบ</p>
            <%= f.collection_radio_buttons(:hand1, [['Rock', 'rock'], ['Paper', 'paper'], ['Scissors', 'scissors']], :first, :last, :item_wrapper_class => 'horizontal') do |hand1| %>
              <div class="rounded-circle p-1 hand1">
              <%= hand1.label {image_tag("#{hand1.text}.png")}  %>
              </div>
              <%= hand1.radio_button class:"d-none"%>
            <% end %>
          </div>

          <div class="field">
            <p style="color: white" class="m-0 p-0 align-self-center ">2ยบ</p>
            <%= f.collection_radio_buttons(:hand3, [['Rock', 'rock'], ['Paper', 'paper'], ['Scissors', 'scissors']], :first, :last, :item_wrapper_class => 'horizontal') do |hand3| %>
              <div class="rounded-circle p-1 hand3">
              <%= hand3.label {image_tag("#{hand3.text}.png")}  %>
              </div>
              <%= hand3.radio_button class:"d-none"%>
            <% end %>
          </div>
          <div class="field">
            <p style="color: white" class="m-0 p-0 align-self-center ">3ยบ</p>
            <%= f.collection_radio_buttons(:hand5, [['Rock', 'rock'], ['Paper', 'paper'], ['Scissors', 'scissors']], :first, :last, :item_wrapper_class => 'horizontal') do |hand5| %>
              <div class="rounded-circle p-1 hand5">
              <%= hand5.label {image_tag("#{hand5.text}.png")}  %>
              </div>
              <%= hand5.radio_button class:"d-none"%>
            <% end %>
          </div>
          <div>
            <%= f.button :submit, "Let's play", class: "white-round-filled-btn", style: "padding-right: 10px; padding-left: 10px; width: 103px; height: 41px; margin-top: 20px; background-color: #5A81E3; border: none; color: white; font-weight: 600;"%>
          </div>
        <% end %>
    </div>
  </div>

</div>

<%# ------------------------RELOAD-------------------- %>

<script>
    if( window.localStorage )
    {
      if( !localStorage.getItem('firstLoad') )
      {
        localStorage['firstLoad'] = true;
        window.location.reload();
      }
      else
        localStorage.removeItem('firstLoad');
    }
</script>
