<%# ------------------------NAVBAR-------------------- %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="col-1 d-flex justify-content-center">
    <%= link_to bar_path(current_user.bar_code), class: "navbar-brand" do %>
      <svg style = "margin-left: 20px;" width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 2L2 9L9 16" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    <% end %>
  </div>
  <div class="col-11 d-flex justify-content-center">
    <p style= "margin: 0; font-size: 16px; color: white; margin-left: -20px;">Game</h1>
  </div>
</div>

<%# ------------------------MAIN-------------------- %>

<div class="container mt-4">

  <%# IF THE GAME IS FINISHED %>
  <% if @game.winner_id != nil  %>
    <div class="row d-flex notification">
      <div class="column col-6 text-center">
        <% @player1 = User.find(@game.player1_id) %>
        <%# <p class="mb-2">Player 1</p> %>

        <div class="profile-user">
          <%= link_to profile_path(@player1.id) do %>
            <% if @player1.photo.key != nil %>
              <%= cl_image_tag @player1.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-xl" %>
            <% end %>
          <% end %>

          <div class="notification-content">
            <%= link_to profile_path(@player1.id) do %>
              <p><strong><%=@player1.name %></strong></p>
            <% end %>
          </div>
        </div>

        <div class="move mt-3">
          <p class="mb-2">Moves:</p>
          <div class="d-flex flex-column align-items-center">
            <% if @game.hand2 == "Scissors" %>
              <%= image_tag("scissors", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand2 == "Rock" %>
              <%= image_tag("rock", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand2 == "Paper" %>
              <%= image_tag("paper", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand4 == "Scissors" %>
              <%= image_tag("scissors", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand4 == "Rock" %>
              <%= image_tag("rock", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand4 == "Paper" %>
              <%= image_tag("paper", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand6 == "Scissors" %>
              <%= image_tag("scissors", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand6 == "Rock" %>
              <%= image_tag("rock", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand6 == "Paper" %>
              <%= image_tag("paper", height: '60', width: '60')%>
            <% end %>
          </div>
        </div>
      </div>

      <div class="column col-6 text-center">
        <% @player2 = User.find(@game.player2_id) %>
        <%# <p class="mb-2">Player 2</p> %>

        <div class="profile-user">
          <%= link_to profile_path(@player2.id) do %>
            <% if @player2.photo.key != nil %>
              <%= cl_image_tag @player2.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-xl" %>
            <% end %>
          <% end %>

          <div class="notification-content">
            <%= link_to profile_path(@player2.id) do %>
              <p><strong><%=@player2.name %></strong></p>
            <% end %>
          </div>
        </div>

        <div class="move mt-3">
          <p class="mb-2">Moves:</p>
          <div class="d-flex flex-column align-items-center">
            <% if @game.hand2 == "Scissors" %>
              <%= image_tag("scissors", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand2 == "Rock" %>
              <%= image_tag("rock", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand2 == "Paper" %>
              <%= image_tag("paper", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand4 == "Scissors" %>
              <%= image_tag("scissors", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand4 == "Rock" %>
              <%= image_tag("rock", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand4 == "Paper" %>
              <%= image_tag("paper", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand6 == "Scissors" %>
              <%= image_tag("scissors", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand6 == "Rock" %>
              <%= image_tag("rock", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand6 == "Paper" %>
              <%= image_tag("paper", height: '60', width: '60')%>
            <% end %>
          </div>
        </div>

      </div>
    </div>

    <%# IF THE GAME IS FINISHED AND IT IS NOT A DRAW %>
    <% if @game.draw == nil %>

      <div class="row notification text-center">
        <p class= "mb-2">The winner is</p>
        <% @winner = User.find(@game.winner_id) %>

        <div class="profile-user">
          <%= link_to profile_path(@winner.id) do %>
            <% if @winner.photo.key != nil %>
              <%= cl_image_tag @winner.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-xl" %>
            <% end %>
          <% end %>

          <div class="notification-content">
            <%= link_to profile_path(@winner.id) do %>
              <p><strong><%=@winner.name %></strong></p>
            <% end %>
          </div>
        </div>

      </div>

    <%# IF THE GAME IS FINISHED AND IT IS A DRAW %>
    <% else %>
      <div class="row notification text-center">
        <strong><p>It is a draw</p></strong>
      </div>
    <% end %>
  <% end %>

  <%# IF THE GAME IS NOT FINISHED %>
  <% if @game.winner_id == nil %>

    <div class="row d-flex notification">
      <div class="column col-6 text-center">
        <% @player1 = User.find(@game.player1_id) %>
        <%# <p class="mb-2">Player 1</p> %>

        <div class="profile-user">
          <%= link_to profile_path(@player1.id) do %>
            <% if @player1.photo.key != nil %>
              <%= cl_image_tag @player1.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-xl" %>
            <% end %>
          <% end %>

          <div class="notification-content">
            <%= link_to profile_path(@player1.id) do %>
              <p><strong><%=@player1.name %></strong></p>
            <% end %>
          </div>
        </div>

        <div class="move mt-3">
          <p class="mb-2">Moves:</p>
          <div class="d-flex flex-column align-items-center">
            <% if @game.hand1 == "Scissors" %>
              <%= image_tag("scissors", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand1 == "Rock" %>
              <%= image_tag("rock", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand1 == "Paper" %>
              <%= image_tag("paper", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand3 == "Scissors" %>
              <%= image_tag("scissors", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand3 == "Rock" %>
              <%= image_tag("rock", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand3 == "Paper" %>
              <%= image_tag("paper", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand5 == "Scissors" %>
              <%= image_tag("scissors", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand5 == "Rock" %>
              <%= image_tag("rock", height: '60', width: '60')%>
            <% end %>

            <% if @game.hand5 == "Paper" %>
              <%= image_tag("paper", height: '60', width: '60')%>
            <% end %>
          </div>
        </div>
      </div>

      <div class="column col-6 text-center">
        <% @player2 = User.find(@game.player2_id) %>
        <%# <p class="mb-2">Player 2</p> %>

        <div class="profile-user">
          <%= link_to profile_path(@player2.id) do %>
            <% if @player2.photo.key != nil %>
              <%= cl_image_tag @player2.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-xl" %>
            <% end %>
          <% end %>

          <div class="notification-content">
            <%= link_to profile_path(@player2.id) do %>
              <p><strong><%=@player2.name %></strong></p>
            <% end %>
          </div>
        </div>

        <div class="move mt-3">
          <p class="mb-2">Moves:</p>
          <div class="d-flex flex-column">
            <div style="display: flex; height: 60px; justify-content: center; align-items: flex-end;">
              <i class="fa-solid fa-hourglass-start mb-2" style="font-size: 45px; color: white;"></i>
            </div>
            <div style="display: flex; height: 60px; justify-content: center; align-items: flex-end;">
              <i class="fa-solid fa-hourglass-start mb-2" style="font-size: 45px; color: white;"></i>
            </div>
            <div style="display: flex; height: 60px; justify-content: center; align-items: flex-end;">
              <i class="fa-solid fa-hourglass-start mb-2" style="font-size: 45px; color: white;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row notification text-center">
      <strong><p>Waiting for opponent to play his/her move</p></strong>
    </div>

  <% end %>
</div>

<%# ------------------------RELOAD-------------------- %>

<script>
    if( window.localStorage )
    {
      if( !localStorage.getItem('firstLoad') )
      {
        localStorage['firstLoad'] = true;
        window.location.reload();
      }
      else
        localStorage.removeItem('firstLoad');
    }
</script>
