<div class="container mt-3">
  <h3>Received Beers</h3>

  <div class="list">

    <% @beers.each do |beer| %>
      <div class="notification">
        <% if beer.sender.photo.key != nil %>
            <%= link_to profile_path(sender_id: beer.sender.id) do %>
              <%= cl_image_tag beer.sender.photo.key, class: "avatar-large" %>
            <% end %>
            <div class="notification-content">
              <strong><%= link_to "#{beer.sender.name} (#{beer.sender.age})", profile_path(sender_id: beer.sender.id), style:"margin-right: 15px;" %></strong>
            </div>
        <% else %>
            <%= link_to profile_path(sender_id: beer.sender.id) do %>
              <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar-large" %>
            <% end %>
            <div class="notification-content">
              <strong><%= link_to "#{beer.sender.name} (#{beer.sender.age})", profile_path(sender_id: beer.sender.id), style:"margin-right: 15px;" %></strong>
            </div>
        <% end %>

        <div class="notification-actions">

            <% @target = Beer.where(sender_id: beer.recipient, recipient_id: beer.sender).first %>
            <% if @target.present? %>
              <div data-controller="beer-delete">
                <%= simple_form_for @target, url: beer_path(@target), method: :delete do |f| %>
                  <%= f.button :button, style: "padding:0;" do %>
                    <i class="fa-solid fa-champagne-glasses" data-beer-delete-target="remove" data-action="click->beer-delete#removeBeer"></i>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div data-controller="beer-icon">
                <%= simple_form_for @beer do |f| %>
                  <%= hidden_field_tag(:sender_id, current_user.id) %>
                  <%= hidden_field_tag(:recipient_id, beer.sender.id) %>
                  <%= f.button :button, style: "padding:0;" do %>
                    <i class="fa-solid fa-beer-mug-empty" data-beer-icon-target="beer" data-action="click->beer-icon#addBeer"></i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
