<!DOCTYPE html>
<html>
  <head>
    <title>SecretWhisper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href= "<%= image_path "breakit-small" %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%# unless current_page?(root_path) %>
      <%#= render "shared/navbar" %>
    <%# end %>

    <%= render "shared/flashes" %>
    <%= yield %>

  </body>
</html>
